

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

p, h3{
    font-family: "Poppins", sans-serif;
}

li{
    font-family: "Poppins", sans-serif;
}

input, label {
    font-family: "Poppins", sans-serif;
    outline: none;
}

input {
    margin-top: 10px;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 1rem;
    outline: none;
    border: gray;
    margin-top: 10px;
}

.input-box {
    margin-top: 20px;
}

input {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid rgb(196, 191, 191);
}

button {
    padding: 0.5rem 2rem;
    background-color: black;
    outline: none;
    border: none;
    color: white;
    font-weight: bold;
}

li {
    list-style: none;
}

i {
    font-size: 2rem;
}

.title-one {
    font-size: 1.8rem;
}

.title-two {
    font-size: 3rem;
}

.title-three {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

body {
    background-color: rgb(233, 233, 233);
}

.li-icon {
    display: flex;
    gap: 0.7rem;
    margin-top: 20px;
}

.li-icon i {
    font-size: 1.5rem;
    color: purple;
}

@media only screen and (max-width: 768px) {
    i {
        font-size: 1.6rem;
    }
    
    .title-one {
        font-size: 1.4rem;
    }
    
    .title-two {
        font-size: 2.5rem;
    }
}